{% extends 'goods/base_goods.html' %}

{% block head %}
    <script>

        function send_cart_add(){
            num = parseInt($('#num_show').val())
            $.get('/cart/add/{{ goods.id }}/' + num + '/',function (data) {
                $('#show_count').text(data.cart_count)
            })
        }

        function zuzhi(){
            var content = $('#comment_content').val()
            if (content.length == 0){
                $('#error_add').show()
                return false
            }
            else {
                return true
            }
        }

        $(function () {

            $('#add_cart').click(function () {
                send_cart_add()
            })

            $('#num_show').blur(function () {
                num = parseInt($('#num_show').val());  // val() 返回或者是设置被选中这个元素的值
                if (num > 0){
                    price = $('#price').text();  // 获取商品的单价
                    total_price = num * price;  // 计算总价
                    $('#num_show').val(num);  // 展示购买商品的数量
                    $('#goods_total').text(total_price.toFixed(2))
                }
                else {
                    $('#num_show').val(1);
                }
            })

            $('#add').click(function () {
                num = parseInt($('#num_show').val());
                add_num = num + 1;
                $('#num_show').val(add_num);
                $('#num_show').blur();

            })

            $('#reduce').click(function () {
                num = parseInt($('#num_show').val());
                if (num > 1){
                    add_num = num - 1;
                    $('#num_show').val(add_num);
                    $('#num_show').blur();
                }
            })

            $('.vote').click(function () {
                comment_id = $(this).attr('id')
                num = $(this)
                $.get('/goods/vote_comment/' + comment_id + '/' , function (data) {
                    console.log(data.msg)
                    console.log(data.vote_number)
                    num.prev().text(data.vote_number)
                    num.next().text(data.msg)
                })
            })

        })
    </script>
{% endblock %}

{% block content %}
    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>&gt;</span>
        <a href="#">{{ goods.category.category_name }}</a>
        <span>&gt;</span>
        <a href="#">商品详情</a>
    </div>

    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl"><img src="{{ goods.pic }}"></div>

        <div class="goods_detail_list fr">
            <h3>{{ goods.goods_name }}</h3>
            <p>{{ goods.abstract }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em id="price">{{ goods.price }}</em></span>
                <span class="show_unit">单  位：{{ goods.unit }}</span>
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" value="1" id="num_show">
                    <a href="#" class="add fr" id="add">+</a>
                    <a href="#" class="minus fr" id="reduce">-</a>
                </div>
            </div>
            <div class="total">总价：<em id="goods_total">{{ goods.price }}</em>元</div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn">立即购买</a>
                <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    {% for new in news %}
                        <li>
                            <a href="/goods/detail/{{ new.id }}/"><img src="{{ new.pic }}"></a>
                            <h4><a href="/goods/detail/{{ new.id }}/">{{ new.goods_name }}</a></h4>
                            <div class="prize">￥{{ new.price }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li><a href="/goods/detail/{{ goods.id }}/">商品介绍</a></li>
                <li class="active"><a href="">评论</a></li>
            </ul>

            <div class="tab_content">
                <div style="font-size: 22px; color: red">{{ null }}</div>
                {% if add_comment %}
                    <div>
                        <form action="/goods/add_comment/{{ goods.id }}" method="get">
                            <textarea name="content" id="comment_content" style="resize: none;height: 80px;width: 100%;font-size: 20px" placeholder="请填写评论"></textarea>
                            <input type="submit" id="content_sub" onclick="return zuzhi()" value="提交评论">
                        </form>
                        <div id="error_add" style="display: none;color: red;">评论不能为空</div>
                    </div>
                {% else %}
                    <div style="font-size: 22px; color: red">购买此商品后才能评论哦~</div>
                {% endif %}



                {% for comment in comments %}
                    <div style="border: 1px solid black">
                        <div style="font-size: 18px">用户: {{ comment.user.username }}  |  评论时间: <em>{{ comment.create_time }}</em>  |  点赞数: <em>{{ comment.vote_number }}</em>
                            <a href="#" style="font-size: 15px; color: red" class="vote" id="{{ comment.id }}">点赞</a>
                            <em style="color: red;font-size: 12px"></em></div>
                        <div style="font-size: 18px">{{ comment.content }}</div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}